.button {
  width: 100%;
  padding: .75rem;
  border-radius: 0.25rem;
  background: #8F9E8B;
  color: white;
  font-size: .75rem;
  letter-spacing: .07rem;
  text-transform: uppercase;
}

.button:hover {
  background: #5B7876;
}

.button:focus {
  border: #5B7876 solid 2px;
  outline: none;
  background: #5B7876;
}